/* GENERAL FORMATTING */

img {
  
  /* layout */
  float: left;

}

/* CONTENT FORMATTING */

.title{

  border-bottom:3px solid #dddddd;
  /* text */
  color:#4aaaa5;

}


.content{

  /* layout */
  position:relative;
  top:50px;
  height:500px;
  width:960px;
  margin: 100px auto 100px auto;
  border: 1px solid #dddddd;
  padding: 20px;
  background-color: #ffffff;

}

@media screen and (max-width: 980px){
  
  .content{

    width:600px;
    height:400px;
    margin: 100px 50px;
      
  }
}
