
.col{

    /* layout */
    width:30%;
    height:30%;
    float: left;
    margin:30px;
    position:relative;

}

.col:hover{

    /* layout */    
    opacity: 0.8;

}

/* CONTENT FORMATTING */

.title{

    /* layout */    
    border-bottom:3px solid #dddddd;
    /* font */
    color:#4aaaa5;

}
  
  
.content{

    /* layout */ 
    position:relative;
    top:50px;
    height:1000px;
    width:960px;
    margin: 100px auto 100px auto;
    border: 1px solid #dddddd;
    padding: 20px;
    background-color: #ffffff;

}

.banner{

    /* layout */
    position:absolute;
    bottom:20px;
    background-color:#4aaaa5;
    width:300px;
    /* font */  
    font-size:10px;
    color:#ffffff;
    text-align: center; 
    
}

@media screen and (max-width: 980px){
  
    .content{
  
      width:600px;
      height:800px;
      margin: 50px 50px;
        
    }
    img{
        display:inline-block;
        float:none;
        width:120%;
        height:auto;
      }

    .banner{
        
    /* layout */
    position:absolute;
    bottom:20px;
    background-color:#4aaaa5;
    width:120%;
    /* font */  
    font-size:8px;
    color:#ffffff;
    text-align: center; 
  }
}

  @media screen and (max-width: 640px){

    .content{
      width:550px;
      height:1800px;
      margin: 120px auto;
    }
  
    img{
      width:100%;
    }

    .col{
        width:80%;
        z-index:0;
    }

    .banner{
        width:100%;
    }

  
  }
    